/*intro*/

body{
    font-family: 'Arimo';
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;  
}
.container{
    max-width: 1200px;
    margin: auto;
}
#header{
    position: absolute;  
    display: flex;
    align-items: center;
    width: 99%;
    justify-content: space-between;
}
.logo{
    width: 90px;
    height: auto;
    margin-left: 20px;
}
.nav ul{
    display: flex;
    list-style: none;
}
.nav li{
    position: relative;  
    margin-right: 60px;  
}
.nav a{
    color: #f1f1f1; 
    text-decoration: none; 
}
#banner{
    background-image: url(../img/bbb.jpg);
    background-size: cover;
    background-position: center;
    padding-bottom: 486px;
    background-repeat: no-repeat;
}
.caption1{
    margin: 0px;
    text-align: center;
    padding-top: 220px;
    color: rgb(255, 255, 255);
    font-size: 35px;
    letter-spacing:2px;
}
/*--------------------------------------------------------------philosopy*/
#philosopy{
    padding: 60px 0;
}
.our-philosopy h1{
    margin: 0;
    margin-bottom: 60px;
    color: #353535;
    letter-spacing: 4px;
    font-size: 40px;
}
.our-philosopy{
    margin: 0;
    text-align: center;
    color: #353535;
}
/*-------------------------------------------------------------portfolio*/
#portfolio{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0,0.6)),url(../img/Death_to_stock_communicate_hands_5.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 60px 0;
}
.portfolio{
    font-size: 40px;
    margin: 0;
    text-align: center;
    margin-bottom: 60px;
    color: #ffffff;
    letter-spacing: 7px;
}
.images-width1{
    display: flex;
    justify-content: space-around; 
}
.images-width1 .img1{
    width: 370px;
    height: auto; 
}
.img1{
    border-bottom: 6px solid rgba(0, 0, 0, 0.582);
    margin-bottom: 20px;
}

.images-width2{
    display: flex;
    justify-content: space-around; 
}
.images-width2 .img2{
    width: 370px;
    height: auto; 
}
.img2{
    border-bottom: 6px solid rgba(0, 0, 0, 0.582);
    margin-bottom: 20px;
}
/*----------------------------------------------------------------about*/
#about{  
    padding: 60px 0;
}
#about h1{
    margin: 0;
    text-align: center;
    color: #353535;
    padding-bottom: 60px;
    font-size: 40px;
}
.about-row{
    display:flex;
    justify-content: space-around;
}
.about-img{
    color: #353535;
    font-size: 14.7px;
}
.img7{
    width: auto;
    height: 250px;
}
.about-row1{
    display:flex;
}
.skills-1 {
    display: flex;
    align-items: center;
}
.skills-1 div{
    margin-left: 20px;
}
.desc1{
    padding-left: 200px;
}
.bar1{
    padding-left: 10px;
}
.skills-2 {
    display: flex;
    align-items: center;
}
.skills-2 div{
    margin-left: 20px;
}
.desc1-1{
    margin-left: 24px;
}
.desc2{
    padding-left: 210px;  
}
.bar2{
    padding-left: 10px;
}
/*-------------------------------------------------------footer*/
#footer{
    background-color: #272727;
    text-align: center;
    color: #ffffff;
    margin: auto;
    font-size: small;
    padding: 25px 25px;
}
